@{
    ViewData["Title"] = "Get Oficiales de Seguridad";
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/StyleHTML.css">
<body>
    <div class="text-center">
        <h1 class="display-4" style="color: darkblue">Lista de Oficiales de Seguridad</h1>
    </div>
    <hr />
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="myInput" placeholder="name@example.com">
        <label for="myInput">Search</label>
    </div>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <hr />
    <div class="text-center">
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="display:none;">ID</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Date</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var @item in @ViewBag.Oficiales)
                     {
                    <tr>
                        <td style="display:none;">item</td>
                        <td>@item.Ced</td>
                        <td>@item.FirstName @item.LastName1 @item.LastName2</td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>10/12/2022</td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                    <form asp-action="EditOfficcer" asp-controller="SecurityOfficer" method="post">
                                    <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                                    <input type="text" name="txtIdPerson" value="@item.Id" hidden />
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                    <form asp-action="DeleteOfficer" asp-controller="SecurityOfficer" method="post">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                    <input type="text" name="txtIdPerson" value="@item.Id" hidden />
                                     <input type="text" name="txtIdRol" value="@item.Id_Rol" hidden />
                                </form>
                            </div>
                        </td>
                    </tr>

                 }
                </tbody>
            </table>
        </div>
    </div>
</body>