@{
    ViewData["Title"] = "Get Condominios";
}



<link rel="stylesheet" href="/css/Style.css">

<body>
    <div class="text-center">
        <h1 class="display-4" style="color: darkblue">Lista de Condominios</h1>
    </div>
    <hr />
    <form asp-controller="Condominios" asp-action="SearchCondominios">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Buscar" name="txtBuscar">
            <label for="myInput">Search</label>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </div>
    </form>
    <br />

    <div class="text-center">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var @item in @ViewBag.CondominiosList)
                {
                    <div class="col">
                        <div class="card shadow-sm" style="width:252px">
                            <div class="flex-shrink-0">
                                <img src="@item.Logo" class="card-img-top" alt="..." style="width:250px">
                            </div>

                            <div class="card-body">
                                <div style="display: none">
                                    <p class="card-text"></p>
                                </div>
                                <p class="card-text">@item.Name</p>
                                <p class="card-text">@item.Address</p>
                                <p class="card-text">@item.Phone</p>

                                <div class="text-center">
                                    <form asp-action="EditCondominios" asp-controller="Condominios" asp-route-Id="@item.Id">
                                        <button class="btn btn-primary" type="submit">Edit</button>
                                    </form>
                                </div>
                                <br>
                                <div class="text-center">
                                    <form asp-action="DeleteCondominios" asp-controller="Condominios" asp-route-id="@item.Id">
                                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</body>