@Html.Partial("SideBar")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="stfyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/Style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
       
        

        <div class="row">

        <div class="col-md-4">
            <div class="thumbnail">
                <form asp-action="GetCondominios" asp-controller="Condominios">
                    <button type="submit" class="btn btn-info d-block mx-auto">
                        <img src="/img/0.jpg" alt="Lights" style="width:100%">
                    </button>
                    <input type="text" name="txtidcond" value="@ViewBag.IdCond" hidden />
                </form>
                <div class="text-center">
                    <h2 style=" color:darkblue">Proyectos Habitacionales</h2>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="thumbnail">
                <form asp-action="GetSecurityOfficer" asp-controller="SecurityOfficer">
                    <button type="submit" class="btn btn-info d-block mx-auto">
                        <img src="/img/oficiales.jpg" alt="Fjords" style="width:100%">
                    </button>
                </form>
                <div class="text-center">
                    <h2 style=" color:darkblue">Oficiales de Seguridad</h2>
                </div>
            </div>
        </div>

            

        </div>
        <hr/>

        <h2 style="color:black">Lista de Condominios</h2>
        @foreach (var @item in @ViewBag.CondominiosList)
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="text-center">
                        <h3 style=" color:darkblue">@item.Name</h3>
                    </div>
                    <form asp-action="goToMainMenu" asp-controller="CompanyView">
                        <button type="submit" class="btn btn-info d-block mx-auto">
                            <img src="@item.Logo" alt="Lights" style="width:100%">
                        </button>
                        <input type="text" name="txtIdCond" value="@item.Id" hidden />
                    </form>

                </div>
            </div>

        }
        

    </div>




</body>
</html>
